@font-face {
  font-family: "Crf-reg";
  src: url("./fonts/DeliusUnicase-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.search-container {
  position: absolute;
  left: 60px;
  top: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 150;
}

.search-wrapper {
  display: flex;
  height: 35px;
  border-radius: 40px;
  align-items: center;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.124);
  overflow: hidden;
  height: 50px;
}

.icon-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0);
  transition: background-color 0.1s ease-in-out;
}

.icon-btn:hover {
  background: rgba(255, 255, 255, 0.2);
}

.icon-btn svg {
  width: 35px;
  height: 35px;
}

.search-input {
  border: none;
  outline: none;
  flex: 1;
  padding: 0 6px;
  color: #ffffff;
  font-family: "Crf-reg", sans-serif;
  font-size: 0.9rem;
  letter-spacing: 0.2px;
  opacity: 1;
  font-weight: 300;
  background-color: #00000000;
}
.search-input::placeholder {
  color: #ffffff;
  opacity: 1;
  font-family: "Crf-reg", sans-serif;
  font-size: 0.9rem;
  letter-spacing: 0.2px;
  opacity: 1;
  font-weight: 300;
}

.close-btn {
  width: 35px;
  height: 35px;
  margin-right: 5px;
}
.close-btn:hover {
  background: rgba(255, 255, 255, 0.1);
}
.close-btn svg {
  width: 30px;
  height: 30px;
}
