.radial-chart-container {
  position: absolute;
  right: 0%;
  top: -0px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 100%;
  padding: 40px;
}

.curved-label {
  font-size: 0.7rem;
  font-weight: 700;
  font-family: "Crf-reg";
  letter-spacing: 1px;
  fill: rgba(255, 255, 255, 0.705);
  paint-order: stroke fill;
}
