.Sun {
  transform: translate(-50%, -50%);
  position: absolute;
  top: -6%;
  right: 15%;
  width: 280px;
  height: 280px;
  transition: transform 0.3s ease-in-out;
  z-index: 20;
  animation: float 15s ease-in-out infinite, pulse-light 5s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes pulse-light {
  0% {
    opacity: 1;
    filter: brightness(100%);
  }
  50% {
    opacity: 0.9;
    filter: brightness(110%);
  }
  100% {
    opacity: 1;
    filter: brightness(100%);
  }
}

.Sun:hover {
  transform: scale(1.1);
}

.Moon {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 184px;
  right: 540px;
  width: 130px;
  height: 130px;
  transition: transform 0.3s ease-in-out;
  z-index: 20;
  animation: float 15s ease-in-out infinite, pulse-light 5s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes pulse-light {
  0% {
    opacity: 1;
    filter: brightness(100%);
  }
  50% {
    opacity: 0.9;
    filter: brightness(110%);
  }
  100% {
    opacity: 1;
    filter: brightness(100%);
  }
}

.Moon:hover {
  transform: scale(1.1);
}
