.clock-container {
  position: absolute;
  top: 70px;
  left: 20px;
  text-align: left;
  z-index: 60;
}
.time-slot {
  font-family: "Crf-reg", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: #ffffff;
  text-align: left;
  margin: 0;
  line-height: 1;
}

.time-zone {
  font-family: "Crf-reg", sans-serif;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  margin-top: 0.4rem;
}
