.curved-line {
  position: absolute;
  top: 15%; 
  left: 0;
  right: 0;

  width: 100%;
  height: auto;
  opacity: 65%;
  z-index: 15;
  transition: transform 1.5s ease-in-out;

}

/* .curved-line:hover {
  opacity: 100%;
} */