.data-card {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%; 
  max-width: auto; 
  height: 200px; 
  border-radius: 25px; 
  
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); 
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  z-index: 5;
}