@font-face {
  font-family: "Crf-bold";
  src: url("./fonts/DeliusUnicase-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0;
}
@font-face {
  font-family: "Crf-reg";
  src: url("./fonts/DeliusUnicase-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.data-card {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  width: 96%;
  max-width: auto;
  height: 35%;
  max-height: auto;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 6;
  padding: 0;
  font-family: "Crf-reg";
}

.chart-container {
  width: 98%;
  height: 98%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-tooltip {
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  padding: 8px 12px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.tooltip-label {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-weight: 100;
  margin: 0 0 4px 0;
  font-weight: 500;
}

.tooltip-value {
  color: #ffffff;
  font-size: 14px;
  margin: 0;
  font-weight: 200;
}

@media (max-width: 768px) {
  .data-card {
    width: 100%;
    height: 180px;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .data-card {
    width: 100%;
    height: 160px;
    padding: 0px;
  }

  .tooltip-label {
    font-size: 11px;
  }

  .tooltip-value {
    font-size: 13px;
  }
}
