@font-face {
  font-family: "Crf-bold";
  src: url("./fonts/DeliusUnicase-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0;
}
@font-face {
  font-family: "Crf-reg";
  src: url("./fonts/DeliusUnicase-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


.data-card {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  width: 96%;
  max-width: auto;
  height: 40%;
  max-height: auto;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  padding: 0;
  font-family: "Crf-reg";
}

.button-container {
  display: flex;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: 40px;
  border-radius: 12px;
  overflow: hidden;
  z-index: 10;
}

.forcast-button {
  flex: 1;
  border: none;
  color: rgb(255, 255, 255);
  font-family: "Crf-bold", sans-serif;
  font-size: 0.9rem;
  letter-spacing: 0.2px;
  opacity: 1;
  font-weight: 300;
  flex: 7;
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.2) 90%
  );
  backdrop-filter: blur(10px);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.forcast-button:hover {
  background: rgba(255, 255, 255, 0.79);
  color: rgb(59, 59, 59);
}



.single-btn {
  position: absolute;
  right: 4px;
  bottom: 4px;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0);
  border: 1px solid rgba(255, 255, 255, 0);
  border-bottom-right-radius: 18px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 8px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  backdrop-filter: blur(4px);
}

.single-btn:hover {
  background: rgba(255, 255, 255, 0.15);
  color: white;
  /* border-color: rgba(255, 255, 255, 0.3); */
}

.single-btn.area {
  background: linear-gradient(135deg, #00000020, #0000003c);
  color: white;
  /* border-color: #ffffff;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.6); */
}

.single-btn.line {
  background: linear-gradient(135deg, #00000020, #00000020);
  color: white;
  /* border-color: #ffffff; */
  /* box-shadow: 0 0 10px 8px rgba(8, 138, 219, 0.6); */
}

.single-btn svg {
  width: 35px;
  height: 35px;
}
