@font-face {
  font-family: "Crf-bold";
  src: url("./fonts/DeliusUnicase-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0;
}
@font-face {
  font-family: "Crf-reg";
  src: url("./fonts/DeliusUnicase-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.button-container {
  display: flex;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 41px;
  border-radius: 12px;
  overflow: hidden;
  z-index: 10;
}

.forcast-button {
  flex: 1;
  border: none;
  color: rgba(0, 0, 0, 0.767);
  font-family: 'Crf-bold', sans-serif;
  font-size: 20px;
  letter-spacing: 0.2px;
  opacity: 0.8;
  font-weight: 400;
  
  backdrop-filter: blur(10px);
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.main {
  flex: 7;
  background: linear-gradient(135deg, rgb(28, 102, 131) 0%, #73d3db 90%);
}
.more {
  flex: 3;
  background: linear-gradient(135deg, #73d3db 24%, rgb(28, 102, 131) 90%);
}

.main:hover {
  flex: 10;
}
.more:hover {
  flex: 5;
}

.forcast-button:hover {
  background: rgb(255, 255, 255);
  color: rgb(59, 59, 59);
}
