@font-face {
  font-family: "Crf-bold";
  src: url("./fonts/DeliusUnicase-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0;
}
@font-face {
  font-family: "Crf-reg";
  src: url("./fonts/DeliusUnicase-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.button-container {
  display: flex;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: 40px;
  border-radius: 12px;
  overflow: hidden;
  z-index: 10;
}

.forcast-button {
  flex: 1;
  border: none;
  color: rgb(255, 255, 255);
  font-family: "Crf-bold", sans-serif;
  font-size: 0.9rem;
  letter-spacing: 0.2px;
  opacity: 1;
  font-weight: 300;

  backdrop-filter: blur(10px);
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.main {
  flex: 7;
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0.1) 90%
  );
}
.more {
  flex: 3;
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.1) 24%,
    rgba(0, 0, 0, 0.1) 90%
  );
}

.main:hover {
  flex: 10;
}
.more:hover {
  flex: 5;
}

.forcast-button:hover {
  background: rgb(255, 255, 255);
  color: rgb(59, 59, 59);
}
