@font-face {
  font-family: "Crf-bold";
  src: url("./fonts/DeliusUnicase-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0;
}

@font-face {
  font-family: "Crf-reg";
  src: url("../fonts/DeliusUnicase-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.more-panel {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 98%;
  max-width: 900px;
  height: 88%;
  background: rgba(45, 39, 103, 0.68);
  backdrop-filter: blur(38px);
  -webkit-backdrop-filter: blur(38px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37),
    inset 20 80 80px rgba(255, 255, 255, 0.05);
  border-radius: 24px;
  opacity: 0;
  /* pointer-events: none; */
  z-index: 100;
  overflow: hidden;
}

.more-panel.open {
  bottom: 46%;
  transform: translate(-50%, 50%);
  opacity: 1;
  /* pointer-events: none; */
}

.weather-code {
  display: flex;
  position: absolute;
  width: 96%;
  height: 15%;
  background-color: green;
  gap: 10px;
  border-radius: 15px;
  top: 42%;
  left: 2%;
}

.closePage-button {
  position: absolute;
  right: 6px;
  top: 6px;
  width: 45px;
  height: 40px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
  background: rgba(124, 77, 255, 0.572);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1.5px solid rgba(124, 77, 255, 0);
  color: #c4b5fd;
  cursor: pointer;
  display: flex;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 2px 5px rgba(124, 77, 255, 0.3);
}

.closePage-button:hover {
  background: rgba(124, 77, 255, 0.832);
  color: white;
}

.DataColm {
  position: absolute;
  display: flex;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(75px, 92px));
  /* gap: 4px; */
  bottom: 8%;
  background-color: rgba(255, 255, 255, 0);
  left: 1%;
  width: 98%;
  height: 80%;
  box-sizing: border-box;
}

.container {
  background: rgba(30, 30, 60, 0.45);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border-radius: 20px;
  border: 2px solid #7c4dff59;
  padding: 12px 8px;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  color: white;
  font-family: "Crf-bold", sans-serif;
  transition: all 0.4s ease;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  transition: 0.2s ease-in-out;
}

.container.info {
  font-size: 0.8rem;
  padding: 12px 1px;
  width: 50%;
  border: 2px dashed rgba(124, 77, 255, 0.16);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.096);
  background: rgba(30, 30, 60, 0.146);
}
.info svg {
  width: 28px;
  height: 28px;
}

.element {
  font-size: 1.3rem;
}
.parameter {
  font-size: 0.7rem;
}
