@font-face {
  font-family: "Crf-bold";
  src: url("./fonts/DeliusUnicase-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0;
}

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Crf-reg";
  src: url("../fonts/DeliusUnicase-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.more-panel {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 98%;
  max-width: 900px;
  height: 88%;
  background: #232348ee;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 28px;
  border: 1px solid #7c4dff4d;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.6);
  opacity: 0;
  /* pointer-events: none; */
  z-index: 100;
  overflow: hidden;
}

.more-panel.open {
  bottom: 46%;
  transform: translate(-50%, 50%);
  opacity: 1;
  /* pointer-events: none; */
}


.weather-code{
  display: flex;
  position: absolute;
  width: 96%;
  height: 15%;
  /* background-color: green; */
  gap: 10px;
  border-radius: 15px;
  top: 42%;
  left: 2%;
}

.closePage-button {
  position: absolute;
  right: 6px;
  top: 6px;
  width: 45px;
  height: 40px;
  border-top-right-radius: 25px;
  border: none;
  background: rgba(124, 77, 255, 0.572);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1.5px solid rgba(124, 77, 255, 0);
  color: #c4b5fd;
  cursor: pointer;
  display: flex;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 2px 5px rgba(124, 77, 255, 0.3);
}

.closePage-button:hover {
  background: rgba(124, 77, 255, 0.832);
  color: white;
}
