@font-face {
  font-family: 'Jua';
  src: url('./fonts/Jua-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.hud {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 30%; 
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.city-name {
  top: 14px; 
  left: 180px;
  font-family: 'Jua', sans-serif;
  font-size: 2rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
}

.main-temp {
  top: 42%; 
  left: 28%;
  font-family: 'Jua', sans-serif;
  font-size: 12rem;
  font-weight: 600;
  line-height: 1; 
  margin: 0;
  padding: 0;
  color: rgb(11, 130, 141);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0);
}

.temp-duration {
  top: 58%; 
  left: 52%;
  font-family: 'Jua', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: rgba(29, 135, 144, 0.886);
  margin-top: -10px; 

}

.text-white {
  color: white;
}
.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0);
}