@font-face {
  font-family: "Jua";
  src: url("./fonts/Jua-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.reload-button {
  position: absolute;
  top: 14px;
  left: 120px;
  width: 170px;
  height: auto;
  font-family: "Jua", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  border-radius:12px;
  color: rgb(237, 254, 255);
  background: rgba(155, 149, 149, 0);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  z-index: 60;
}

.central-elements-container {
  width: 500px;
  display: flex;
  align-items: center;
  gap: 0;
  position: absolute;
  top: 55%;
  left: 42%;
  transform: translate(-50%, -50%);
  z-index: 6;
}

.main-temp {
  font-family: "Jua", sans-serif;
  font-size: 12rem;
  font-weight: 600;
  line-height: 1;
  color: rgb(238, 238, 238);
  opacity: 90%;
}

/*rgb(11, 130, 141)*/

.reload-button:hover {
  background: rgba(255, 255, 255, 0.2);
}

.reload-button svg {
  fill: white;
  width: 25px;
  height: 25px;
}