@font-face {
  font-family: 'Jua';
  src: url('./fonts/Jua-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
*{
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.city-name {
  position: absolute;
  top: 14px; 
  left: 180px;
  font-family: 'Jua', sans-serif;
  font-size: 2rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
  transform: translateX(-50%);
  z-index: 6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.central-elements-container {
  width: 500px;
  display: flex;
  align-items: center;
  gap: 0;
  position: absolute;
  top: 56%;
  left: 42%;
  transform: translate(-50%, -50%);
  z-index: 6;
}

.main-temp {
  font-family: 'Jua', sans-serif;
  font-size: 12rem;
  font-weight: 600;
  line-height: 1; 
  color: rgb(11, 130, 141);
}

.temp-duration {
  font-family: 'Jua', sans-serif;
  font-size: 2rem;
  font-weight: 500;
  color: rgba(29, 135, 144, 0.886);
  margin-top: 10px;
}