@font-face {
  font-family: "Crf-reg";
  src: url("../fonts/DeliusUnicase-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.line-Chart-card {
  margin-left: 4%;
  width: 92%;
  height: 30%;
  margin-top: 58px;
  border: 1px solid #ffffff02;
  border-radius: 8px;
  background-color: #ffffff07;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.334);
  overflow: hidden;
}

.line-Chart-content {
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 350px;
}
