@font-face {
  font-family: "Crf-reg";
  src: url("../fonts/DeliusUnicase-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.line-Chart-card {
  width: 98%;
  height: 82%;
  margin-bottom: 35px;
  border: 1px solid #ffffff00;
  border-radius: 8px;
  background-color: #ffffff00;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0);
  overflow: hidden;
}

.line-Chart-content {
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 350px;
}
