.Sun {
  position: absolute;
  top: -12%; 
  right: 15%;
  width: 350px; 
  height: 350px;
  transition: transform 0.3s ease-in-out;
  z-index: 20;
    animation: float 10s ease-in-out infinite, pulse-light 5s ease-in-out infinite;
}

@keyframes float {
  0% { transform: translate(0, 0); }
  50% { transform: translate(5px, -5px); }
  100% { transform: translate(0, 0); }
}

@keyframes pulse-light {
  0% { opacity: 1; filter: brightness(100%); }
  50% { opacity: 0.9; filter: brightness(110%); }
  100% { opacity: 1; filter: brightness(100%); }
}

.Sun:hover {
  transform: scale(1.1);
}