.switch-button {
  position: absolute;
  top: 45%;
  width: 50px;
  height: 50px;
  border-radius: 50%;

  background: rgba(255, 255, 255, 0.076);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(0, 0, 0, 0);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: white;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  z-index: 60;
}

.switch-button.left {
  left: 10px;
}

.switch-button.right {
  right: 10px;
}

.switch-button:hover {
  background: rgba(255, 255, 255, 0.16);
}
