* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-tauri-drag-region] {
  -webkit-app-region: drag;
  app-region: drag;
}

.floating-ball {
  overflow: hidden;
}

.app-background {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    190deg,
    #0096d7 10%,
    #5bcae8 48%,
    #7dd1e8 52%,
    #f2f2ff 100%
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.window-buttons {
  position: absolute;
  top: 6px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: transparent;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid transparent;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.046);
  color: white;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
  z-index: 60;
}

.window-buttons.close {
  right: 6px;
}
.window-buttons.maximize {
  right: 42px;
}
.window-buttons.minimize {
  right: 78px;
}

.window-buttons:hover {
  background: rgba(255, 255, 255, 0.2);
}
