* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
[data-tauri-drag-region] {
  -webkit-app-region: drag;
  app-region: drag;
}

.app-background {
  background: linear-gradient(210deg, #051733 0%, #174a7c 30%, #c33f66 62%, #6f2a5a 100%);
  opacity: 100%;
  backdrop-filter: blur(10px);
  width: 100vw;
  height: 100vh;
}

.window-buttons {
  position: absolute;
  top: 6px;
  width: 30px;
  height: 30px;
  border-radius: 50%;

  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.081);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.046);
  color: white;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  z-index: 60;
}

.window-buttons.close {
  right: 6px;
}

.window-buttons.maximize {
  right: 42px;
}
.window-buttons.minimize {
  right: 78px;
}

.window-buttons:hover {
  background: rgba(255, 255, 255, 0.2);
}



.more-button {
  position: absolute;
  bottom: 37%;
  left: 80%;
  width: 70px;
  height: 30px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: rgba(23, 181, 189, 0.804);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  z-index: 6;
}

.more-button:hover {
  background: rgba(29, 190, 199, 0.568);
}
