name: Build Tauri App

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # --- دانلود webdl ---
      - name: Download webdl
        run: |
          mkdir -p src-tauri/webdl
          wget -O src-tauri/webdl/data.zip "https://your-url.com/webdl.zip"
          unzip src-tauri/webdl/data.zip -d src-tauri/webdl
          rm src-tauri/webdl/data.zip

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install frontend deps
        run: npm install
        working-directory: frontend

      - name: Build frontend
        run: npm run build
        working-directory: frontend

      - name: Build Tauri App
        run: |
          npm install
          npm run tauri build
        working-directory: src-tauri
